<div class="resume-section-item">
	<div class="resume-section-item-inner">
		<div class="position second-color">Languages</div>
		<div class="tech-tags-container first-color">
			{{ range $language := .Site.Data.resume.skills.languages }}
			<div class="tech-tag">{{ $language }}</div>
			{{ end }}
		</div>
	</div>
</div>
<div class="resume-section-item">
	<div class="resume-section-item-inner">
		<div class="position second-color">Technologies</div>
		<div class="tech-tags-container first-color">
			{{ range $technology := .Site.Data.resume.skills.technologies }}
			<div class="tech-tag">{{ $technology }}</div>
			{{ end }}
		</div>
	</div>
</div>
